In [1]:
import pandas as pd

In [2]:
data=pd.read_excel('Customer Call List.xlsx')

In [3]:
data

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [4]:
data=data.drop(columns='Not_Useful_Column')

In [5]:
data

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [6]:
data['Last_Name']=data['Last_Name'].str.strip('/,.,_')

In [7]:
data

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [14]:
data[['Hse_No', 'State', 'Zipcode']]=data['Address'].str.split(' ', n=2,expand=True)

In [15]:
data

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Hse_No,State,Zipcode
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,123,Shire,"Lane, Shire"
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,93,West,Main Street
2,1003,Walter,White,7066950392,298 Drugs Driveway,N,NaN,298,Drugs,Driveway
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,980,Paper,"Avenue, Pennsylvania, 18503"
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,123,Dragons,Road
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,768,City,Parkway
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,1209,South,Street
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,98,Clue,Drive
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,123,Middle,Earth
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,25th,Main,"Street, New York"
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,612,Shire,"Lane, Shire"
11,1012,Harry,Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,2394,Hogwarts,Avenue
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,2039,Main,Street
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,343,City,Parkway
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No,214,HR,Avenue
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,2395,Hogwarts,Avenue
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,121,Paper,"Avenue, Pennsylvania"
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,3498,Super,Lane
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,N/a,None,None
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,910,Tatooine,"Road, Tatooine"
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,910,Tatooine,"Road, Tatooine"

In [16]:
data =data.drop(columns ='Address')

In [17]:
data

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Hse_No,State,Zipcode
0,1001,Frodo,Baggins,123-545-5421,Yes,No,123,Shire,"Lane, Shire"
1,1002,Abed,Nadir,123/643/9775,No,Yes,93,West,Main Street
2,1003,Walter,White,7066950392,N,NaN,298,Drugs,Driveway
3,1004,Dwight,Schrute,123-543-2345,Yes,Y,980,Paper,"Avenue, Pennsylvania, 18503"
4,1005,Jon,Snow,876|678|3469,Y,No,123,Dragons,Road
5,1006,Ron,Swanson,304-762-2467,Yes,Yes,768,City,Parkway
6,1007,Jeff,Winger,NaN,No,No,1209,South,Street
7,1008,Sherlock,Holmes,876|678|3469,N,No,98,Clue,Drive
8,1009,Gandalf,NaN,N/a,Yes,NaN,123,Middle,Earth
9,1010,Peter,Parker,123-545-5421,Yes,No,25th,Main,"Street, New York"
10,1011,Samwise,Gamgee,NaN,Yes,No,612,Shire,"Lane, Shire"
11,1012,Harry,Potter,7066950392,Y,NaN,2394,Hogwarts,Avenue
12,1013,Don,Draper,123-543-2345,Yes,N,2039,Main,Street
13,1014,Leslie,Knope,876|678|3469,Yes,No,343,City,Parkway
14,1015,Toby,Flenderson,304-762-2467,N,No,214,HR,Avenue
15,1016,Ron,Weasley,123-545-5421,No,N,2395,Hogwarts,Avenue
16,1017,Michael,Scott,123/643/9775,Yes,No,121,Paper,"Avenue, Pennsylvania"
17,1018,Clark,Kent,7066950392,Y,NaN,3498,Super,Lane
18,1019,Creed,Braton,N/a,N/a,Yes,N/a,None,None
19,1020,Anakin,Skywalker,876|678|3469,Yes,N,910,Tatooine,"Road, Tatooine"
20,1020,Anakin,Skywalker,876|678|3469,Yes,N,910,Tatooine,"Road, Tatooine"

In [20]:
data['Paying Customer']=data['Paying Customer'].str.replace('Y', 'Yes')

In [21]:
data

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Hse_No,State,Zipcode
0,1001,Frodo,Baggins,123-545-5421,Yes,No,123,Shire,"Lane, Shire"
1,1002,Abed,Nadir,123/643/9775,No,Yes,93,West,Main Street
2,1003,Walter,White,7066950392,N,NaN,298,Drugs,Driveway
3,1004,Dwight,Schrute,123-543-2345,Yes,Y,980,Paper,"Avenue, Pennsylvania, 18503"
4,1005,Jon,Snow,876|678|3469,Yes,No,123,Dragons,Road
5,1006,Ron,Swanson,304-762-2467,Yes,Yes,768,City,Parkway
6,1007,Jeff,Winger,NaN,No,No,1209,South,Street
7,1008,Sherlock,Holmes,876|678|3469,N,No,98,Clue,Drive
8,1009,Gandalf,NaN,N/a,Yes,NaN,123,Middle,Earth
9,1010,Peter,Parker,123-545-5421,Yes,No,25th,Main,"Street, New York"
10,1011,Samwise,Gamgee,NaN,Yes,No,612,Shire,"Lane, Shire"
11,1012,Harry,Potter,7066950392,Yes,NaN,2394,Hogwarts,Avenue
12,1013,Don,Draper,123-543-2345,Yes,N,2039,Main,Street
13,1014,Leslie,Knope,876|678|3469,Yes,No,343,City,Parkway
14,1015,Toby,Flenderson,304-762-2467,N,No,214,HR,Avenue
15,1016,Ron,Weasley,123-545-5421,No,N,2395,Hogwarts,Avenue
16,1017,Michael,Scott,123/643/9775,Yes,No,121,Paper,"Avenue, Pennsylvania"
17,1018,Clark,Kent,7066950392,Yes,NaN,3498,Super,Lane
18,1019,Creed,Braton,N/a,N/a,Yes,N/a,None,None
19,1020,Anakin,Skywalker,876|678|3469,Yes,N,910,Tatooine,"Road, Tatooine"
20,1020,Anakin,Skywalker,876|678|3469,Yes,N,910,Tatooine,"Road, Tatooine"

In [24]:
data['Paying Customer']=data['Paying Customer'].str.replace('No', 'N')

In [26]:
data

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Hse_No,State,Zipcode
0,1001,Frodo,Baggins,123-545-5421,Yes,No,123,Shire,"Lane, Shire"
1,1002,Abed,Nadir,123/643/9775,No,Yes,93,West,Main Street
2,1003,Walter,White,7066950392,N,NaN,298,Drugs,Driveway
3,1004,Dwight,Schrute,123-543-2345,Yes,Y,980,Paper,"Avenue, Pennsylvania, 18503"
4,1005,Jon,Snow,876|678|3469,Yes,No,123,Dragons,Road
5,1006,Ron,Swanson,304-762-2467,Yes,Yes,768,City,Parkway
6,1007,Jeff,Winger,NaN,No,No,1209,South,Street
7,1008,Sherlock,Holmes,876|678|3469,N,No,98,Clue,Drive
8,1009,Gandalf,NaN,N/a,Yes,NaN,123,Middle,Earth
9,1010,Peter,Parker,123-545-5421,Yes,No,25th,Main,"Street, New York"
10,1011,Samwise,Gamgee,NaN,Yes,No,612,Shire,"Lane, Shire"
11,1012,Harry,Potter,7066950392,Yes,NaN,2394,Hogwarts,Avenue
12,1013,Don,Draper,123-543-2345,Yes,N,2039,Main,Street
13,1014,Leslie,Knope,876|678|3469,Yes,No,343,City,Parkway
14,1015,Toby,Flenderson,304-762-2467,N,No,214,HR,Avenue
15,1016,Ron,Weasley,123-545-5421,No,N,2395,Hogwarts,Avenue
16,1017,Michael,Scott,123/643/9775,Yes,No,121,Paper,"Avenue, Pennsylvania"
17,1018,Clark,Kent,7066950392,Yes,NaN,3498,Super,Lane
18,1019,Creed,Braton,N/a,N/a,Yes,N/a,None,None
19,1020,Anakin,Skywalker,876|678|3469,Yes,N,910,Tatooine,"Road, Tatooine"
20,1020,Anakin,Skywalker,876|678|3469,Yes,N,910,Tatooine,"Road, Tatooine"

In [27]:
data['Paying Customer']=data['Paying Customer'].str.replace('No', 'N')

In [28]:
data

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Hse_No,State,Zipcode
0,1001,Frodo,Baggins,123-545-5421,Yes,No,123,Shire,"Lane, Shire"
1,1002,Abed,Nadir,123/643/9775,N,Yes,93,West,Main Street
2,1003,Walter,White,7066950392,N,NaN,298,Drugs,Driveway
3,1004,Dwight,Schrute,123-543-2345,Yes,Y,980,Paper,"Avenue, Pennsylvania, 18503"
4,1005,Jon,Snow,876|678|3469,Yes,No,123,Dragons,Road
5,1006,Ron,Swanson,304-762-2467,Yes,Yes,768,City,Parkway
6,1007,Jeff,Winger,NaN,N,No,1209,South,Street
7,1008,Sherlock,Holmes,876|678|3469,N,No,98,Clue,Drive
8,1009,Gandalf,NaN,N/a,Yes,NaN,123,Middle,Earth
9,1010,Peter,Parker,123-545-5421,Yes,No,25th,Main,"Street, New York"
10,1011,Samwise,Gamgee,NaN,Yes,No,612,Shire,"Lane, Shire"
11,1012,Harry,Potter,7066950392,Yes,NaN,2394,Hogwarts,Avenue
12,1013,Don,Draper,123-543-2345,Yes,N,2039,Main,Street
13,1014,Leslie,Knope,876|678|3469,Yes,No,343,City,Parkway
14,1015,Toby,Flenderson,304-762-2467,N,No,214,HR,Avenue
15,1016,Ron,Weasley,123-545-5421,N,N,2395,Hogwarts,Avenue
16,1017,Michael,Scott,123/643/9775,Yes,No,121,Paper,"Avenue, Pennsylvania"
17,1018,Clark,Kent,7066950392,Yes,NaN,3498,Super,Lane
18,1019,Creed,Braton,N/a,N/a,Yes,N/a,None,None
19,1020,Anakin,Skywalker,876|678|3469,Yes,N,910,Tatooine,"Road, Tatooine"
20,1020,Anakin,Skywalker,876|678|3469,Yes,N,910,Tatooine,"Road, Tatooine"

In [29]:
data['Paying Customer']=data['Paying Customer'].str.replace('N', 'No')

In [30]:
data

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Hse_No,State,Zipcode
0,1001,Frodo,Baggins,123-545-5421,Yes,No,123,Shire,"Lane, Shire"
1,1002,Abed,Nadir,123/643/9775,No,Yes,93,West,Main Street
2,1003,Walter,White,7066950392,No,NaN,298,Drugs,Driveway
3,1004,Dwight,Schrute,123-543-2345,Yes,Y,980,Paper,"Avenue, Pennsylvania, 18503"
4,1005,Jon,Snow,876|678|3469,Yes,No,123,Dragons,Road
5,1006,Ron,Swanson,304-762-2467,Yes,Yes,768,City,Parkway
6,1007,Jeff,Winger,NaN,No,No,1209,South,Street
7,1008,Sherlock,Holmes,876|678|3469,No,No,98,Clue,Drive
8,1009,Gandalf,NaN,N/a,Yes,NaN,123,Middle,Earth
9,1010,Peter,Parker,123-545-5421,Yes,No,25th,Main,"Street, New York"
10,1011,Samwise,Gamgee,NaN,Yes,No,612,Shire,"Lane, Shire"
11,1012,Harry,Potter,7066950392,Yes,NaN,2394,Hogwarts,Avenue
12,1013,Don,Draper,123-543-2345,Yes,N,2039,Main,Street
13,1014,Leslie,Knope,876|678|3469,Yes,No,343,City,Parkway
14,1015,Toby,Flenderson,304-762-2467,No,No,214,HR,Avenue
15,1016,Ron,Weasley,123-545-5421,No,N,2395,Hogwarts,Avenue
16,1017,Michael,Scott,123/643/9775,Yes,No,121,Paper,"Avenue, Pennsylvania"
17,1018,Clark,Kent,7066950392,Yes,NaN,3498,Super,Lane
18,1019,Creed,Braton,N/a,No/a,Yes,N/a,None,None
19,1020,Anakin,Skywalker,876|678|3469,Yes,N,910,Tatooine,"Road, Tatooine"
20,1020,Anakin,Skywalker,876|678|3469,Yes,N,910,Tatooine,"Road, Tatooine"

In [31]:
data['Do_Not_Contact']=data['Do_Not_Contact'].str.replace('No', 'N')

In [32]:
data

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Hse_No,State,Zipcode
0,1001,Frodo,Baggins,123-545-5421,Yes,N,123,Shire,"Lane, Shire"
1,1002,Abed,Nadir,123/643/9775,No,Yes,93,West,Main Street
2,1003,Walter,White,7066950392,No,NaN,298,Drugs,Driveway
3,1004,Dwight,Schrute,123-543-2345,Yes,Y,980,Paper,"Avenue, Pennsylvania, 18503"
4,1005,Jon,Snow,876|678|3469,Yes,N,123,Dragons,Road
5,1006,Ron,Swanson,304-762-2467,Yes,Yes,768,City,Parkway
6,1007,Jeff,Winger,NaN,No,N,1209,South,Street
7,1008,Sherlock,Holmes,876|678|3469,No,N,98,Clue,Drive
8,1009,Gandalf,NaN,N/a,Yes,NaN,123,Middle,Earth
9,1010,Peter,Parker,123-545-5421,Yes,N,25th,Main,"Street, New York"
10,1011,Samwise,Gamgee,NaN,Yes,N,612,Shire,"Lane, Shire"
11,1012,Harry,Potter,7066950392,Yes,NaN,2394,Hogwarts,Avenue
12,1013,Don,Draper,123-543-2345,Yes,N,2039,Main,Street
13,1014,Leslie,Knope,876|678|3469,Yes,N,343,City,Parkway
14,1015,Toby,Flenderson,304-762-2467,No,N,214,HR,Avenue
15,1016,Ron,Weasley,123-545-5421,No,N,2395,Hogwarts,Avenue
16,1017,Michael,Scott,123/643/9775,Yes,N,121,Paper,"Avenue, Pennsylvania"
17,1018,Clark,Kent,7066950392,Yes,NaN,3498,Super,Lane
18,1019,Creed,Braton,N/a,No/a,Yes,N/a,None,None
19,1020,Anakin,Skywalker,876|678|3469,Yes,N,910,Tatooine,"Road, Tatooine"
20,1020,Anakin,Skywalker,876|678|3469,Yes,N,910,Tatooine,"Road, Tatooine"

In [33]:
data['Do_Not_Contact']=data['Do_Not_Contact'].str.replace('N', 'No')

In [34]:
data

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Hse_No,State,Zipcode
0,1001,Frodo,Baggins,123-545-5421,Yes,No,123,Shire,"Lane, Shire"
1,1002,Abed,Nadir,123/643/9775,No,Yes,93,West,Main Street
2,1003,Walter,White,7066950392,No,NaN,298,Drugs,Driveway
3,1004,Dwight,Schrute,123-543-2345,Yes,Y,980,Paper,"Avenue, Pennsylvania, 18503"
4,1005,Jon,Snow,876|678|3469,Yes,No,123,Dragons,Road
5,1006,Ron,Swanson,304-762-2467,Yes,Yes,768,City,Parkway
6,1007,Jeff,Winger,NaN,No,No,1209,South,Street
7,1008,Sherlock,Holmes,876|678|3469,No,No,98,Clue,Drive
8,1009,Gandalf,NaN,N/a,Yes,NaN,123,Middle,Earth
9,1010,Peter,Parker,123-545-5421,Yes,No,25th,Main,"Street, New York"
10,1011,Samwise,Gamgee,NaN,Yes,No,612,Shire,"Lane, Shire"
11,1012,Harry,Potter,7066950392,Yes,NaN,2394,Hogwarts,Avenue
12,1013,Don,Draper,123-543-2345,Yes,No,2039,Main,Street
13,1014,Leslie,Knope,876|678|3469,Yes,No,343,City,Parkway
14,1015,Toby,Flenderson,304-762-2467,No,No,214,HR,Avenue
15,1016,Ron,Weasley,123-545-5421,No,No,2395,Hogwarts,Avenue
16,1017,Michael,Scott,123/643/9775,Yes,No,121,Paper,"Avenue, Pennsylvania"
17,1018,Clark,Kent,7066950392,Yes,NaN,3498,Super,Lane
18,1019,Creed,Braton,N/a,No/a,Yes,N/a,None,None
19,1020,Anakin,Skywalker,876|678|3469,Yes,No,910,Tatooine,"Road, Tatooine"
20,1020,Anakin,Skywalker,876|678|3469,Yes,No,910,Tatooine,"Road, Tatooine"

In [37]:
data['Do_Not_Contact']=data['Do_Not_Contact'].str.replace('Yes', 'Y')

In [39]:
data

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Hse_No,State,Zipcode
0,1001,Frodo,Baggins,123-545-5421,Yes,No,123,Shire,"Lane, Shire"
1,1002,Abed,Nadir,123/643/9775,No,Yes,93,West,Main Street
2,1003,Walter,White,7066950392,No,NaN,298,Drugs,Driveway
3,1004,Dwight,Schrute,123-543-2345,Yes,Y,980,Paper,"Avenue, Pennsylvania, 18503"
4,1005,Jon,Snow,876|678|3469,Yes,No,123,Dragons,Road
5,1006,Ron,Swanson,304-762-2467,Yes,Yes,768,City,Parkway
6,1007,Jeff,Winger,NaN,No,No,1209,South,Street
7,1008,Sherlock,Holmes,876|678|3469,No,No,98,Clue,Drive
8,1009,Gandalf,NaN,N/a,Yes,NaN,123,Middle,Earth
9,1010,Peter,Parker,123-545-5421,Yes,No,25th,Main,"Street, New York"
10,1011,Samwise,Gamgee,NaN,Yes,No,612,Shire,"Lane, Shire"
11,1012,Harry,Potter,7066950392,Yes,NaN,2394,Hogwarts,Avenue
12,1013,Don,Draper,123-543-2345,Yes,No,2039,Main,Street
13,1014,Leslie,Knope,876|678|3469,Yes,No,343,City,Parkway
14,1015,Toby,Flenderson,304-762-2467,No,No,214,HR,Avenue
15,1016,Ron,Weasley,123-545-5421,No,No,2395,Hogwarts,Avenue
16,1017,Michael,Scott,123/643/9775,Yes,No,121,Paper,"Avenue, Pennsylvania"
17,1018,Clark,Kent,7066950392,Yes,NaN,3498,Super,Lane
18,1019,Creed,Braton,N/a,No/a,Yes,N/a,None,None
19,1020,Anakin,Skywalker,876|678|3469,Yes,No,910,Tatooine,"Road, Tatooine"
20,1020,Anakin,Skywalker,876|678|3469,Yes,No,910,Tatooine,"Road, Tatooine"

In [40]:
data['Do_Not_Contact']=data['Do_Not_Contact'].str.replace('Yes', 'Y')

In [41]:
data

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Hse_No,State,Zipcode
0,1001,Frodo,Baggins,123-545-5421,Yes,No,123,Shire,"Lane, Shire"
1,1002,Abed,Nadir,123/643/9775,No,Y,93,West,Main Street
2,1003,Walter,White,7066950392,No,NaN,298,Drugs,Driveway
3,1004,Dwight,Schrute,123-543-2345,Yes,Y,980,Paper,"Avenue, Pennsylvania, 18503"
4,1005,Jon,Snow,876|678|3469,Yes,No,123,Dragons,Road
5,1006,Ron,Swanson,304-762-2467,Yes,Y,768,City,Parkway
6,1007,Jeff,Winger,NaN,No,No,1209,South,Street
7,1008,Sherlock,Holmes,876|678|3469,No,No,98,Clue,Drive
8,1009,Gandalf,NaN,N/a,Yes,NaN,123,Middle,Earth
9,1010,Peter,Parker,123-545-5421,Yes,No,25th,Main,"Street, New York"
10,1011,Samwise,Gamgee,NaN,Yes,No,612,Shire,"Lane, Shire"
11,1012,Harry,Potter,7066950392,Yes,NaN,2394,Hogwarts,Avenue
12,1013,Don,Draper,123-543-2345,Yes,No,2039,Main,Street
13,1014,Leslie,Knope,876|678|3469,Yes,No,343,City,Parkway
14,1015,Toby,Flenderson,304-762-2467,No,No,214,HR,Avenue
15,1016,Ron,Weasley,123-545-5421,No,No,2395,Hogwarts,Avenue
16,1017,Michael,Scott,123/643/9775,Yes,No,121,Paper,"Avenue, Pennsylvania"
17,1018,Clark,Kent,7066950392,Yes,NaN,3498,Super,Lane
18,1019,Creed,Braton,N/a,No/a,Y,N/a,None,None
19,1020,Anakin,Skywalker,876|678|3469,Yes,No,910,Tatooine,"Road, Tatooine"
20,1020,Anakin,Skywalker,876|678|3469,Yes,No,910,Tatooine,"Road, Tatooine"

In [42]:
data['Do_Not_Contact']=data['Do_Not_Contact'].str.replace('Y', 'Yes')

In [43]:
data

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Hse_No,State,Zipcode
0,1001,Frodo,Baggins,123-545-5421,Yes,No,123,Shire,"Lane, Shire"
1,1002,Abed,Nadir,123/643/9775,No,Yes,93,West,Main Street
2,1003,Walter,White,7066950392,No,NaN,298,Drugs,Driveway
3,1004,Dwight,Schrute,123-543-2345,Yes,Yes,980,Paper,"Avenue, Pennsylvania, 18503"
4,1005,Jon,Snow,876|678|3469,Yes,No,123,Dragons,Road
5,1006,Ron,Swanson,304-762-2467,Yes,Yes,768,City,Parkway
6,1007,Jeff,Winger,NaN,No,No,1209,South,Street
7,1008,Sherlock,Holmes,876|678|3469,No,No,98,Clue,Drive
8,1009,Gandalf,NaN,N/a,Yes,NaN,123,Middle,Earth
9,1010,Peter,Parker,123-545-5421,Yes,No,25th,Main,"Street, New York"
10,1011,Samwise,Gamgee,NaN,Yes,No,612,Shire,"Lane, Shire"
11,1012,Harry,Potter,7066950392,Yes,NaN,2394,Hogwarts,Avenue
12,1013,Don,Draper,123-543-2345,Yes,No,2039,Main,Street
13,1014,Leslie,Knope,876|678|3469,Yes,No,343,City,Parkway
14,1015,Toby,Flenderson,304-762-2467,No,No,214,HR,Avenue
15,1016,Ron,Weasley,123-545-5421,No,No,2395,Hogwarts,Avenue
16,1017,Michael,Scott,123/643/9775,Yes,No,121,Paper,"Avenue, Pennsylvania"
17,1018,Clark,Kent,7066950392,Yes,NaN,3498,Super,Lane
18,1019,Creed,Braton,N/a,No/a,Yes,N/a,None,None
19,1020,Anakin,Skywalker,876|678|3469,Yes,No,910,Tatooine,"Road, Tatooine"
20,1020,Anakin,Skywalker,876|678|3469,Yes,No,910,Tatooine,"Road, Tatooine"

In [44]:
data['Last_Name']=data['Last_Name'].dropna()

In [45]:
data

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Hse_No,State,Zipcode
0,1001,Frodo,Baggins,123-545-5421,Yes,No,123,Shire,"Lane, Shire"
1,1002,Abed,Nadir,123/643/9775,No,Yes,93,West,Main Street
2,1003,Walter,White,7066950392,No,NaN,298,Drugs,Driveway
3,1004,Dwight,Schrute,123-543-2345,Yes,Yes,980,Paper,"Avenue, Pennsylvania, 18503"
4,1005,Jon,Snow,876|678|3469,Yes,No,123,Dragons,Road
5,1006,Ron,Swanson,304-762-2467,Yes,Yes,768,City,Parkway
6,1007,Jeff,Winger,NaN,No,No,1209,South,Street
7,1008,Sherlock,Holmes,876|678|3469,No,No,98,Clue,Drive
8,1009,Gandalf,NaN,N/a,Yes,NaN,123,Middle,Earth
9,1010,Peter,Parker,123-545-5421,Yes,No,25th,Main,"Street, New York"
10,1011,Samwise,Gamgee,NaN,Yes,No,612,Shire,"Lane, Shire"
11,1012,Harry,Potter,7066950392,Yes,NaN,2394,Hogwarts,Avenue
12,1013,Don,Draper,123-543-2345,Yes,No,2039,Main,Street
13,1014,Leslie,Knope,876|678|3469,Yes,No,343,City,Parkway
14,1015,Toby,Flenderson,304-762-2467,No,No,214,HR,Avenue
15,1016,Ron,Weasley,123-545-5421,No,No,2395,Hogwarts,Avenue
16,1017,Michael,Scott,123/643/9775,Yes,No,121,Paper,"Avenue, Pennsylvania"
17,1018,Clark,Kent,7066950392,Yes,NaN,3498,Super,Lane
18,1019,Creed,Braton,N/a,No/a,Yes,N/a,None,None
19,1020,Anakin,Skywalker,876|678|3469,Yes,No,910,Tatooine,"Road, Tatooine"
20,1020,Anakin,Skywalker,876|678|3469,Yes,No,910,Tatooine,"Road, Tatooine"

In [52]:
data.dropna(subset = ['Phone_Number'],inplace= True)

In [53]:
data

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Hse_No,State,Zipcode
0,1001,Frodo,Baggins,123-545-5421,Yes,No,123,Shire,"Lane, Shire"
1,1002,Abed,Nadir,123/643/9775,No,Yes,93,West,Main Street
2,1003,Walter,White,7066950392,No,NaN,298,Drugs,Driveway
3,1004,Dwight,Schrute,123-543-2345,Yes,Yes,980,Paper,"Avenue, Pennsylvania, 18503"
4,1005,Jon,Snow,876|678|3469,Yes,No,123,Dragons,Road
5,1006,Ron,Swanson,304-762-2467,Yes,Yes,768,City,Parkway
7,1008,Sherlock,Holmes,876|678|3469,No,No,98,Clue,Drive
8,1009,Gandalf,NaN,N/a,Yes,NaN,123,Middle,Earth
9,1010,Peter,Parker,123-545-5421,Yes,No,25th,Main,"Street, New York"
11,1012,Harry,Potter,7066950392,Yes,NaN,2394,Hogwarts,Avenue
12,1013,Don,Draper,123-543-2345,Yes,No,2039,Main,Street
13,1014,Leslie,Knope,876|678|3469,Yes,No,343,City,Parkway
14,1015,Toby,Flenderson,304-762-2467,No,No,214,HR,Avenue
15,1016,Ron,Weasley,123-545-5421,No,No,2395,Hogwarts,Avenue
16,1017,Michael,Scott,123/643/9775,Yes,No,121,Paper,"Avenue, Pennsylvania"
17,1018,Clark,Kent,7066950392,Yes,NaN,3498,Super,Lane
18,1019,Creed,Braton,N/a,No/a,Yes,N/a,None,None
19,1020,Anakin,Skywalker,876|678|3469,Yes,No,910,Tatooine,"Road, Tatooine"
20,1020,Anakin,Skywalker,876|678|3469,Yes,No,910,Tatooine,"Road, Tatooine"

In [54]:
data['Do_Not_Contact']=data['Do_Not_Contact'].str.replace('N/a', ' ')

In [55]:
data

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Hse_No,State,Zipcode
0,1001,Frodo,Baggins,123-545-5421,Yes,No,123,Shire,"Lane, Shire"
1,1002,Abed,Nadir,123/643/9775,No,Yes,93,West,Main Street
2,1003,Walter,White,7066950392,No,NaN,298,Drugs,Driveway
3,1004,Dwight,Schrute,123-543-2345,Yes,Yes,980,Paper,"Avenue, Pennsylvania, 18503"
4,1005,Jon,Snow,876|678|3469,Yes,No,123,Dragons,Road
5,1006,Ron,Swanson,304-762-2467,Yes,Yes,768,City,Parkway
7,1008,Sherlock,Holmes,876|678|3469,No,No,98,Clue,Drive
8,1009,Gandalf,NaN,N/a,Yes,NaN,123,Middle,Earth
9,1010,Peter,Parker,123-545-5421,Yes,No,25th,Main,"Street, New York"
11,1012,Harry,Potter,7066950392,Yes,NaN,2394,Hogwarts,Avenue
12,1013,Don,Draper,123-543-2345,Yes,No,2039,Main,Street
13,1014,Leslie,Knope,876|678|3469,Yes,No,343,City,Parkway
14,1015,Toby,Flenderson,304-762-2467,No,No,214,HR,Avenue
15,1016,Ron,Weasley,123-545-5421,No,No,2395,Hogwarts,Avenue
16,1017,Michael,Scott,123/643/9775,Yes,No,121,Paper,"Avenue, Pennsylvania"
17,1018,Clark,Kent,7066950392,Yes,NaN,3498,Super,Lane
18,1019,Creed,Braton,N/a,No/a,Yes,N/a,None,None
19,1020,Anakin,Skywalker,876|678|3469,Yes,No,910,Tatooine,"Road, Tatooine"
20,1020,Anakin,Skywalker,876|678|3469,Yes,No,910,Tatooine,"Road, Tatooine"

In [56]:
data['Phone_Number']=data['Phone_Number'].str.replace('N/a', ' ')

In [57]:
data

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Hse_No,State,Zipcode
0,1001,Frodo,Baggins,123-545-5421,Yes,No,123,Shire,"Lane, Shire"
1,1002,Abed,Nadir,123/643/9775,No,Yes,93,West,Main Street
2,1003,Walter,White,NaN,No,NaN,298,Drugs,Driveway
3,1004,Dwight,Schrute,123-543-2345,Yes,Yes,980,Paper,"Avenue, Pennsylvania, 18503"
4,1005,Jon,Snow,876|678|3469,Yes,No,123,Dragons,Road
5,1006,Ron,Swanson,304-762-2467,Yes,Yes,768,City,Parkway
7,1008,Sherlock,Holmes,876|678|3469,No,No,98,Clue,Drive
8,1009,Gandalf,NaN,,Yes,NaN,123,Middle,Earth
9,1010,Peter,Parker,123-545-5421,Yes,No,25th,Main,"Street, New York"
11,1012,Harry,Potter,NaN,Yes,NaN,2394,Hogwarts,Avenue
12,1013,Don,Draper,123-543-2345,Yes,No,2039,Main,Street
13,1014,Leslie,Knope,876|678|3469,Yes,No,343,City,Parkway
14,1015,Toby,Flenderson,304-762-2467,No,No,214,HR,Avenue
15,1016,Ron,Weasley,123-545-5421,No,No,2395,Hogwarts,Avenue
16,1017,Michael,Scott,123/643/9775,Yes,No,121,Paper,"Avenue, Pennsylvania"
17,1018,Clark,Kent,NaN,Yes,NaN,3498,Super,Lane
18,1019,Creed,Braton,,No/a,Yes,N/a,None,None
19,1020,Anakin,Skywalker,876|678|3469,Yes,No,910,Tatooine,"Road, Tatooine"
20,1020,Anakin,Skywalker,876|678|3469,Yes,No,910,Tatooine,"Road, Tatooine"

In [58]:
data.dropna(subset = ['Phone_Number'],inplace= True)

In [59]:
data

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Hse_No,State,Zipcode
0,1001,Frodo,Baggins,123-545-5421,Yes,No,123,Shire,"Lane, Shire"
1,1002,Abed,Nadir,123/643/9775,No,Yes,93,West,Main Street
3,1004,Dwight,Schrute,123-543-2345,Yes,Yes,980,Paper,"Avenue, Pennsylvania, 18503"
4,1005,Jon,Snow,876|678|3469,Yes,No,123,Dragons,Road
5,1006,Ron,Swanson,304-762-2467,Yes,Yes,768,City,Parkway
7,1008,Sherlock,Holmes,876|678|3469,No,No,98,Clue,Drive
8,1009,Gandalf,NaN,,Yes,NaN,123,Middle,Earth
9,1010,Peter,Parker,123-545-5421,Yes,No,25th,Main,"Street, New York"
12,1013,Don,Draper,123-543-2345,Yes,No,2039,Main,Street
13,1014,Leslie,Knope,876|678|3469,Yes,No,343,City,Parkway
14,1015,Toby,Flenderson,304-762-2467,No,No,214,HR,Avenue
15,1016,Ron,Weasley,123-545-5421,No,No,2395,Hogwarts,Avenue
16,1017,Michael,Scott,123/643/9775,Yes,No,121,Paper,"Avenue, Pennsylvania"
18,1019,Creed,Braton,,No/a,Yes,N/a,None,None
19,1020,Anakin,Skywalker,876|678|3469,Yes,No,910,Tatooine,"Road, Tatooine"
20,1020,Anakin,Skywalker,876|678|3469,Yes,No,910,Tatooine,"Road, Tatooine"

In [60]:
data=data.replace('No/a','')

In [61]:
data

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Hse_No,State,Zipcode
0,1001,Frodo,Baggins,123-545-5421,Yes,No,123,Shire,"Lane, Shire"
1,1002,Abed,Nadir,123/643/9775,No,Yes,93,West,Main Street
3,1004,Dwight,Schrute,123-543-2345,Yes,Yes,980,Paper,"Avenue, Pennsylvania, 18503"
4,1005,Jon,Snow,876|678|3469,Yes,No,123,Dragons,Road
5,1006,Ron,Swanson,304-762-2467,Yes,Yes,768,City,Parkway
7,1008,Sherlock,Holmes,876|678|3469,No,No,98,Clue,Drive
8,1009,Gandalf,NaN,,Yes,NaN,123,Middle,Earth
9,1010,Peter,Parker,123-545-5421,Yes,No,25th,Main,"Street, New York"
12,1013,Don,Draper,123-543-2345,Yes,No,2039,Main,Street
13,1014,Leslie,Knope,876|678|3469,Yes,No,343,City,Parkway
14,1015,Toby,Flenderson,304-762-2467,No,No,214,HR,Avenue
15,1016,Ron,Weasley,123-545-5421,No,No,2395,Hogwarts,Avenue
16,1017,Michael,Scott,123/643/9775,Yes,No,121,Paper,"Avenue, Pennsylvania"
18,1019,Creed,Braton,,,Yes,N/a,None,None
19,1020,Anakin,Skywalker,876|678|3469,Yes,No,910,Tatooine,"Road, Tatooine"
20,1020,Anakin,Skywalker,876|678|3469,Yes,No,910,Tatooine,"Road, Tatooine"

In [62]:
data=data.replace('N/a','')

In [63]:
data

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Hse_No,State,Zipcode
0,1001,Frodo,Baggins,123-545-5421,Yes,No,123,Shire,"Lane, Shire"
1,1002,Abed,Nadir,123/643/9775,No,Yes,93,West,Main Street
3,1004,Dwight,Schrute,123-543-2345,Yes,Yes,980,Paper,"Avenue, Pennsylvania, 18503"
4,1005,Jon,Snow,876|678|3469,Yes,No,123,Dragons,Road
5,1006,Ron,Swanson,304-762-2467,Yes,Yes,768,City,Parkway
7,1008,Sherlock,Holmes,876|678|3469,No,No,98,Clue,Drive
8,1009,Gandalf,NaN,,Yes,NaN,123,Middle,Earth
9,1010,Peter,Parker,123-545-5421,Yes,No,25th,Main,"Street, New York"
12,1013,Don,Draper,123-543-2345,Yes,No,2039,Main,Street
13,1014,Leslie,Knope,876|678|3469,Yes,No,343,City,Parkway
14,1015,Toby,Flenderson,304-762-2467,No,No,214,HR,Avenue
15,1016,Ron,Weasley,123-545-5421,No,No,2395,Hogwarts,Avenue
16,1017,Michael,Scott,123/643/9775,Yes,No,121,Paper,"Avenue, Pennsylvania"
18,1019,Creed,Braton,,,Yes,,None,None
19,1020,Anakin,Skywalker,876|678|3469,Yes,No,910,Tatooine,"Road, Tatooine"
20,1020,Anakin,Skywalker,876|678|3469,Yes,No,910,Tatooine,"Road, Tatooine"

In [64]:
data=data.fillna('')

In [65]:
data

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Hse_No,State,Zipcode
0,1001,Frodo,Baggins,123-545-5421,Yes,No,123,Shire,"Lane, Shire"
1,1002,Abed,Nadir,123/643/9775,No,Yes,93,West,Main Street
3,1004,Dwight,Schrute,123-543-2345,Yes,Yes,980,Paper,"Avenue, Pennsylvania, 18503"
4,1005,Jon,Snow,876|678|3469,Yes,No,123,Dragons,Road
5,1006,Ron,Swanson,304-762-2467,Yes,Yes,768,City,Parkway
7,1008,Sherlock,Holmes,876|678|3469,No,No,98,Clue,Drive
8,1009,Gandalf,,,Yes,,123,Middle,Earth
9,1010,Peter,Parker,123-545-5421,Yes,No,25th,Main,"Street, New York"
12,1013,Don,Draper,123-543-2345,Yes,No,2039,Main,Street
13,1014,Leslie,Knope,876|678|3469,Yes,No,343,City,Parkway
14,1015,Toby,Flenderson,304-762-2467,No,No,214,HR,Avenue
15,1016,Ron,Weasley,123-545-5421,No,No,2395,Hogwarts,Avenue
16,1017,Michael,Scott,123/643/9775,Yes,No,121,Paper,"Avenue, Pennsylvania"
18,1019,Creed,Braton,,,Yes,,,
19,1020,Anakin,Skywalker,876|678|3469,Yes,No,910,Tatooine,"Road, Tatooine"
20,1020,Anakin,Skywalker,876|678|3469,Yes,No,910,Tatooine,"Road, Tatooine"

In [68]:
data['Phone_Number']=data['Phone_Number'].str.replace('[^a-zA-Z0-9]',' ')

In [69]:
data

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Hse_No,State,Zipcode
0,1001,Frodo,Baggins,123-545-5421,Yes,No,123,Shire,"Lane, Shire"
1,1002,Abed,Nadir,123/643/9775,No,Yes,93,West,Main Street
3,1004,Dwight,Schrute,123-543-2345,Yes,Yes,980,Paper,"Avenue, Pennsylvania, 18503"
4,1005,Jon,Snow,876|678|3469,Yes,No,123,Dragons,Road
5,1006,Ron,Swanson,304-762-2467,Yes,Yes,768,City,Parkway
7,1008,Sherlock,Holmes,876|678|3469,No,No,98,Clue,Drive
8,1009,Gandalf,,,Yes,,123,Middle,Earth
9,1010,Peter,Parker,123-545-5421,Yes,No,25th,Main,"Street, New York"
12,1013,Don,Draper,123-543-2345,Yes,No,2039,Main,Street
13,1014,Leslie,Knope,876|678|3469,Yes,No,343,City,Parkway
14,1015,Toby,Flenderson,304-762-2467,No,No,214,HR,Avenue
15,1016,Ron,Weasley,123-545-5421,No,No,2395,Hogwarts,Avenue
16,1017,Michael,Scott,123/643/9775,Yes,No,121,Paper,"Avenue, Pennsylvania"
18,1019,Creed,Braton,,,Yes,,,
19,1020,Anakin,Skywalker,876|678|3469,Yes,No,910,Tatooine,"Road, Tatooine"
20,1020,Anakin,Skywalker,876|678|3469,Yes,No,910,Tatooine,"Road, Tatooine"

In [70]:
data

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Hse_No,State,Zipcode
0,1001,Frodo,Baggins,123-545-5421,Yes,No,123,Shire,"Lane, Shire"
1,1002,Abed,Nadir,123/643/9775,No,Yes,93,West,Main Street
3,1004,Dwight,Schrute,123-543-2345,Yes,Yes,980,Paper,"Avenue, Pennsylvania, 18503"
4,1005,Jon,Snow,876|678|3469,Yes,No,123,Dragons,Road
5,1006,Ron,Swanson,304-762-2467,Yes,Yes,768,City,Parkway
7,1008,Sherlock,Holmes,876|678|3469,No,No,98,Clue,Drive
8,1009,Gandalf,,,Yes,,123,Middle,Earth
9,1010,Peter,Parker,123-545-5421,Yes,No,25th,Main,"Street, New York"
12,1013,Don,Draper,123-543-2345,Yes,No,2039,Main,Street
13,1014,Leslie,Knope,876|678|3469,Yes,No,343,City,Parkway
14,1015,Toby,Flenderson,304-762-2467,No,No,214,HR,Avenue
15,1016,Ron,Weasley,123-545-5421,No,No,2395,Hogwarts,Avenue
16,1017,Michael,Scott,123/643/9775,Yes,No,121,Paper,"Avenue, Pennsylvania"
18,1019,Creed,Braton,,,Yes,,,
19,1020,Anakin,Skywalker,876|678|3469,Yes,No,910,Tatooine,"Road, Tatooine"
20,1020,Anakin,Skywalker,876|678|3469,Yes,No,910,Tatooine,"Road, Tatooine"

In [71]:
data['Phone_Number'].str.replace('[^a-zA-Z0-9]',' ')

0     123-545-5421
1     123/643/9775
3     123-543-2345
4     876|678|3469
5     304-762-2467
7     876|678|3469
8
9     123-545-5421
12    123-543-2345
13    876|678|3469
14    304-762-2467
15    123-545-5421
16    123/643/9775
18
19    876|678|3469
20    876|678|3469
Name: Phone_Number, dtype: object

In [72]:
 data['Phone_Number'].str.replace('[^\d]', '', regex=True)

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\Benson\AppData\Local\Temp\ipykernel_9596\1731698399.py:1: SyntaxWarning: invalid escape sequence '\d'
  data['Phone_Number'].str.replace('[^\d]', '', regex=True)

0     1235455421
1     1236439775
3     1235432345
4     8766783469
5     3047622467
7     8766783469
8
9     1235455421
12    1235432345
13    8766783469
14    3047622467
15    1235455421
16    1236439775
18
19    8766783469
20    8766783469
Name: Phone_Number, dtype: object

In [75]:
data['Phone_Number'] = data['Phone_Number'].str.replace(r'[^\d]', '', regex=True)

In [76]:
data

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Hse_No,State,Zipcode
0,1001,Frodo,Baggins,1235455421,Yes,No,123,Shire,"Lane, Shire"
1,1002,Abed,Nadir,1236439775,No,Yes,93,West,Main Street
3,1004,Dwight,Schrute,1235432345,Yes,Yes,980,Paper,"Avenue, Pennsylvania, 18503"
4,1005,Jon,Snow,8766783469,Yes,No,123,Dragons,Road
5,1006,Ron,Swanson,3047622467,Yes,Yes,768,City,Parkway
7,1008,Sherlock,Holmes,8766783469,No,No,98,Clue,Drive
8,1009,Gandalf,,,Yes,,123,Middle,Earth
9,1010,Peter,Parker,1235455421,Yes,No,25th,Main,"Street, New York"
12,1013,Don,Draper,1235432345,Yes,No,2039,Main,Street
13,1014,Leslie,Knope,8766783469,Yes,No,343,City,Parkway
14,1015,Toby,Flenderson,3047622467,No,No,214,HR,Avenue
15,1016,Ron,Weasley,1235455421,No,No,2395,Hogwarts,Avenue
16,1017,Michael,Scott,1236439775,Yes,No,121,Paper,"Avenue, Pennsylvania"
18,1019,Creed,Braton,,,Yes,,,
19,1020,Anakin,Skywalker,8766783469,Yes,No,910,Tatooine,"Road, Tatooine"
20,1020,Anakin,Skywalker,8766783469,Yes,No,910,Tatooine,"Road, Tatooine"

In [78]:
for x in data.index:
    if data.loc[x, 'Do_Not_Contact']=='Yes':
        data.drop(x, inplace = True)

In [79]:
data

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Hse_No,State,Zipcode
0,1001,Frodo,Baggins,1235455421,Yes,No,123,Shire,"Lane, Shire"
4,1005,Jon,Snow,8766783469,Yes,No,123,Dragons,Road
7,1008,Sherlock,Holmes,8766783469,No,No,98,Clue,Drive
8,1009,Gandalf,,,Yes,,123,Middle,Earth
9,1010,Peter,Parker,1235455421,Yes,No,25th,Main,"Street, New York"
12,1013,Don,Draper,1235432345,Yes,No,2039,Main,Street
13,1014,Leslie,Knope,8766783469,Yes,No,343,City,Parkway
14,1015,Toby,Flenderson,3047622467,No,No,214,HR,Avenue
15,1016,Ron,Weasley,1235455421,No,No,2395,Hogwarts,Avenue
16,1017,Michael,Scott,1236439775,Yes,No,121,Paper,"Avenue, Pennsylvania"
19,1020,Anakin,Skywalker,8766783469,Yes,No,910,Tatooine,"Road, Tatooine"
20,1020,Anakin,Skywalker,8766783469,Yes,No,910,Tatooine,"Road, Tatooine"

In [80]:
for x in data.index:
    if data.loc[x, 'Phone_Number']==' ':
        data.drop(x, inplace = True)

In [81]:
data

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Hse_No,State,Zipcode
0,1001,Frodo,Baggins,1235455421,Yes,No,123,Shire,"Lane, Shire"
4,1005,Jon,Snow,8766783469,Yes,No,123,Dragons,Road
7,1008,Sherlock,Holmes,8766783469,No,No,98,Clue,Drive
8,1009,Gandalf,,,Yes,,123,Middle,Earth
9,1010,Peter,Parker,1235455421,Yes,No,25th,Main,"Street, New York"
12,1013,Don,Draper,1235432345,Yes,No,2039,Main,Street
13,1014,Leslie,Knope,8766783469,Yes,No,343,City,Parkway
14,1015,Toby,Flenderson,3047622467,No,No,214,HR,Avenue
15,1016,Ron,Weasley,1235455421,No,No,2395,Hogwarts,Avenue
16,1017,Michael,Scott,1236439775,Yes,No,121,Paper,"Avenue, Pennsylvania"
19,1020,Anakin,Skywalker,8766783469,Yes,No,910,Tatooine,"Road, Tatooine"
20,1020,Anakin,Skywalker,8766783469,Yes,No,910,Tatooine,"Road, Tatooine"

In [82]:
for x in data.index:
    if data.loc[x,'Phone_Number']=='':
        data.drop(x, inplace = True)

In [83]:
data

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Hse_No,State,Zipcode
0,1001,Frodo,Baggins,1235455421,Yes,No,123,Shire,"Lane, Shire"
4,1005,Jon,Snow,8766783469,Yes,No,123,Dragons,Road
7,1008,Sherlock,Holmes,8766783469,No,No,98,Clue,Drive
9,1010,Peter,Parker,1235455421,Yes,No,25th,Main,"Street, New York"
12,1013,Don,Draper,1235432345,Yes,No,2039,Main,Street
13,1014,Leslie,Knope,8766783469,Yes,No,343,City,Parkway
14,1015,Toby,Flenderson,3047622467,No,No,214,HR,Avenue
15,1016,Ron,Weasley,1235455421,No,No,2395,Hogwarts,Avenue
16,1017,Michael,Scott,1236439775,Yes,No,121,Paper,"Avenue, Pennsylvania"
19,1020,Anakin,Skywalker,8766783469,Yes,No,910,Tatooine,"Road, Tatooine"
20,1020,Anakin,Skywalker,8766783469,Yes,No,910,Tatooine,"Road, Tatooine"

In [84]:
data.reset_index(drop=True)

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Hse_No,State,Zipcode
0,1001,Frodo,Baggins,1235455421,Yes,No,123,Shire,"Lane, Shire"
1,1005,Jon,Snow,8766783469,Yes,No,123,Dragons,Road
2,1008,Sherlock,Holmes,8766783469,No,No,98,Clue,Drive
3,1010,Peter,Parker,1235455421,Yes,No,25th,Main,"Street, New York"
4,1013,Don,Draper,1235432345,Yes,No,2039,Main,Street
5,1014,Leslie,Knope,8766783469,Yes,No,343,City,Parkway
6,1015,Toby,Flenderson,3047622467,No,No,214,HR,Avenue
7,1016,Ron,Weasley,1235455421,No,No,2395,Hogwarts,Avenue
8,1017,Michael,Scott,1236439775,Yes,No,121,Paper,"Avenue, Pennsylvania"
9,1020,Anakin,Skywalker,8766783469,Yes,No,910,Tatooine,"Road, Tatooine"
10,1020,Anakin,Skywalker,8766783469,Yes,No,910,Tatooine,"Road, Tatooine"

In [85]:
data

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Hse_No,State,Zipcode
0,1001,Frodo,Baggins,1235455421,Yes,No,123,Shire,"Lane, Shire"
4,1005,Jon,Snow,8766783469,Yes,No,123,Dragons,Road
7,1008,Sherlock,Holmes,8766783469,No,No,98,Clue,Drive
9,1010,Peter,Parker,1235455421,Yes,No,25th,Main,"Street, New York"
12,1013,Don,Draper,1235432345,Yes,No,2039,Main,Street
13,1014,Leslie,Knope,8766783469,Yes,No,343,City,Parkway
14,1015,Toby,Flenderson,3047622467,No,No,214,HR,Avenue
15,1016,Ron,Weasley,1235455421,No,No,2395,Hogwarts,Avenue
16,1017,Michael,Scott,1236439775,Yes,No,121,Paper,"Avenue, Pennsylvania"
19,1020,Anakin,Skywalker,8766783469,Yes,No,910,Tatooine,"Road, Tatooine"
20,1020,Anakin,Skywalker,8766783469,Yes,No,910,Tatooine,"Road, Tatooine"